@import url("https://fonts.googleapis.com/css2?family=Quando&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
.player {
  margin: 10px;
  height: 2rem;
  padding: 4px;
  color: rgb(206, 141, 1);
  display: flex;
  align-items: center;
  gap: 15px;
}
.active {
  border: 1px solid rgb(206, 141, 1);
  border-radius: 8px;
}

.player input {
  background-color: rgb(70, 55, 22);
  border-radius: 8px;
  padding: 6px;
  width: 4rem;
  border: none;
  color: rgb(206, 141, 1);
  font-family: "Quando", serif;
}
.player input:disabled {
  background-color: transparent;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(206, 141, 1);
  font-family: "Quando", serif;
}
